In [1]:
from data_clean import *

In [3]:
df = get_df()

['Jan 17, 2020', 'Action Comedy Crime Thriller']
['Jan 17, 2020', 'Action Comedy Crime Thriller', 'Feb 14, 2020', 'Action Adventure Comedy Family Sci-Fi']
['Jan 17, 2020', 'Action Comedy Crime Thriller', 'Feb 14, 2020', 'Action Adventure Comedy Family Sci-Fi', 'Feb 7, 2020', 'Action Adventure Comedy Crime']
['Jan 17, 2020', 'Action Comedy Crime Thriller', 'Feb 14, 2020', 'Action Adventure Comedy Family Sci-Fi', 'Feb 7, 2020', 'Action Adventure Comedy Crime', 'Jan 17, 2020', 'Adventure Comedy Family Fantasy']
                            title           gross         genre  \
0               Bad Boys for Life  [$206,305,244]  Jan 17, 2020
1              Sonic the Hedgehog  [$148,974,665]  Feb 14, 2020
2                   Birds of Prey   [$84,158,461]   Feb 7, 2020
3                        Dolittle   [$77,047,065]  Jan 17, 2020
4               The Invisible Man   [$70,410,000]          None
..                            ...             ...           ...
324                       Greater          [$527]          None
325                  Granny Nanny          [$432]          None
326                           Sol          [$327]          None
327        It's for Your Own Good          [$256]          None
328  Benjamin the Elephant (2020)           [$49]          None

                              release date
0             Action Comedy Crime Thriller
1    Action Adventure Comedy Family Sci-Fi
2            Action Adventure Comedy Crime
3          Adventure Comedy Family Fantasy
4                                     None
..                                     ...
324                                   None
325                                   None
326                                   None
327                                   None
328                                   None

[329 rows x 4 columns]

In [4]:
df

,title,gross,genre,release date
0,Bad Boys for Life,"[$206,305,244]","Jan 17, 2020",Action Comedy Crime Thriller
1,Sonic the Hedgehog,"[$148,974,665]","Feb 14, 2020",Action Adventure Comedy Family Sci-Fi
2,Birds of Prey,"[$84,158,461]","Feb 7, 2020",Action Adventure Comedy Crime
3,Dolittle,"[$77,047,065]","Jan 17, 2020",Adventure Comedy Family Fantasy
4,The Invisible Man,"[$70,410,000]",None,None
...,...,...,...,...
324,Greater,[$527],None,None
325,Granny Nanny,[$432],None,None
326,Sol,[$327],None,None
327,It's for Your Own Good,[$256],None,None
328,Benjamin the Elephant (2020),[$49],None,None

In [1]:
import pandas as pd